
.stuff {
  width: 100%;
  max-height: 550px;
  margin-top: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
}


.stuff .picture {
  width: 100%;
  max-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stuff .picture img {
  max-width: 420px;
  max-height: 240px;
}

.stuff .tagss {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;

}

.listTag {
  padding: 13px 18px;
  margin: 25px 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: -10px;
  border-radius: 25px;
  box-shadow: 0px 2px 5px 3px rgb(150,150,150, .2);
}

.divider {
  margin-top: 40px;
  margin-bottom: -20px;
  border-bottom: 1px solid lightgrey
}

.dropDistance {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.dropDistance i {
  color: #1D7CF2;
  font-size: 1.5rem;
}



@media (min-width: 600px) {

}

@media (min-width: 950px) {
  .stuff {
    border: 0px solid white !important;
  }
  .stuff .tagss {
    margin-left: 20px;
  }

  .dropDistance i {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .stuff {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 300px;
    margin-right: 2px;
  }

  .stuff .tagss {
    flex-direction: column;
    width: 50%;
    text-align: center;
  }

  .stuff .listTag {
    padding: 10px 13px;
    margin: 4px;
    display: block;
  }
}